@page "/1"


<style>
    body
    {
        background-color: @((isDarkMode) ? "#313332" : "#ffffff");
        color: @((isDarkMode) ? "#f1f1f1" : "#000000");
    }

    .top-row[b-ge5yyqnwtx]
    {
         background-color: @((isDarkMode) ? "#313332" : "#ffffff");
         border-bottom: none;
    }

     h1, label, textarea 
     {
        color: @((isDarkMode) ? "#f1f1f1" : "#000000");
    }

    textarea 
    {
        background-color: @((isDarkMode) ? "#2c2c2c" : "#ffffff");
        color: @((isDarkMode) ? "#f1f1f1" : "#000000");
    }

    button 
    {
        background-color: @((isDarkMode) ? "#2c2c2c" : "#ffffff");
        color: @((isDarkMode) ? "#f1f1f1" : "#000000");
    }

    a
    {
        display: none;
    }

    .sidebar[b-ge5yyqnwtx]
    {
        background-image:none;
        background-color: @((isDarkMode) ? "#2c2c2c" : "#5b5c5b");
    }

</style>
<button @onclick="ToggleDarkMode" style="width: 180px; height: 70px; font-size: 20px; float:right;">Tryb Ciemny/Jasny</button>
<h1 style="margin-bottom: 5%;">Dodawanie do bazy danych</h1>


<div style="display: flex; flex-direction: row;">
    <div style="flex: 0;">
        <label for="inputText" style="font-size: 30px" >Słowo po polsku:</label>
        <br />
        <textarea id="inputText" @bind="@inputText" rows="6" style="height: 300px; width:400px; resize: none; font-size: 40px; "></textarea>
    </div>

    <div style="flex: 0; margin-top: 0px; margin-right: 100px; margin-left: 100px;">
        <button @onclick="Dodaj" style="width: 285px; height: 140px; font-size: 45px; margin-top: 60px;">Dodaj Do bazy</button>    
    </div>

    <div style="flex: 0">
        <label for="outputText" style="font-size: 30px">Słowo po angielsku:</label>
        <br />
        <textarea id="inputText2" @bind="@inputText2" rows="6" style="height: 300px; width:400px; resize: none; font-size: 40px; "></textarea>
    </div>
</div>




@using MySql.Data.MySqlClient
@code {

   string inputText = string.Empty;
   string inputText2 = string.Empty;
   bool isDarkMode = true;


    private void Dodaj()
    {
        if (!string.IsNullOrEmpty(inputText) && !string.IsNullOrEmpty(inputText2))
        {
            string connectionString = "SERVER=127.0.0.1;UID=root;PASSWORD=;DATABASE=dictionary;";
            MySqlConnection connection = new MySqlConnection(connectionString);

            string query = $"INSERT INTO engpol (polish, english) VALUES ('{inputText}', '{inputText2}')";

            MySqlCommand cmd = new MySqlCommand(query, connection);

            connection.Open();
            cmd.ExecuteNonQuery();
            connection.Close();

            inputText = "";
            inputText2 = "";
        }
    }


   private void ToggleDarkMode()
    {
        isDarkMode = !isDarkMode;
    }
}
